/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'soria', playfair display;
  background: #f0f4f8; /* full page single bg color */
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background: black;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0;
  height: 8rem;
}

.logo {
  /* flex: 1; */
  padding-left: 8rem;
  padding-right: 2rem;
}

#logo-img{
  height: 5rem;
}
.title h1{
  padding-bottom: 3rem;
  display: inline;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 3rem 2rem;
}

.slogan h2{
  font-size: 2rem;
}

.hero h1 {
  font-size: 7rem;
  margin-top: 3rem;
  margin-bottom: 2.2rem;
}

.hero p {
  font-size: 2.5rem;
  margin-bottom: 10rem;
}

.cta-btn {
  background: #1c2a1b;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 6rem;
  border-radius: .9rem;
  margin: 5rem;
  font-size: 2rem;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #45a049;
}



/* upload btn */
  .menu {
    display:none;
    position:absolute;
    background:#fff;
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px;
    box-shadow:0 4px 8px rgba(0,0,0,.15);
  }
  .menu button {
    display:block;
    width:100%;
    padding:8px;
    background:#f9f9f9;
    border:none;
    text-align:left;
    cursor:pointer;
    margin:3px 0;
  }
  .menu button:hover {background:#eee;}
  #cameraArea {
    display:none;
    margin-top:15px;
  }


/* Features */
.features {
  padding: 6.5rem 2.5rem;
  text-align: center;
  margin: 0 5rem;
}

.features h2 {
  font-size: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 4.3rem;
  transition: .5s;
}

.features h2:hover {
  font-size: 3.6rem;
  text-decoration: underline;
}


.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2rem;
}

.feature-card {
  background: #fff;
  padding: 2rem;
  border-radius: 1.3rem;
  box-shadow: 0 .5rem 1.3rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-.5rem);
}

.feature-card h3{
  font-size: 2.3rem;
  margin: 2rem;
}

.feature-card p{
  font-size: 2rem;
  word-spacing: .2rem;
  line-height: 2rem;
  text-align: justify;
}

/* Footer */
.footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 2.5rem;
  margin-top: 5.5rem;
  font-size: 2.3rem;
}

.contact p{
  margin-bottom: 1rem;
}
.footer a {
  color: #fff;
  margin: 0 1.3 rem;
  padding: 0 .8rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* responsive view */

/* overall responsive view */

   @media (max-width: 1170px) {
    html {
      .feature-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(24rem, 1fr));
  gap: 2rem;
}

    }
  }

  @media (max-width: 1024px) {
    html {
      font-size: 60%;
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 650px) {
    html {
      font-size: 40%;
    }

  }

  @media (max-width: 600px) {
    html {
      font-size: 35%;
    }

  }

  @media (max-width: 500px) {
    html {
      font-size: 30%;
    }

  }

  @media (max-width: 425px) {
    html {
      font-size: 27%;
    }

  }

  @media (max-width: 400px) {
    html {
      font-size: 25%;
    }

  }

  @media (max-width: 350px) {
    html {
      font-size: 22%;
    }

  }

  @media (max-width: 320px) {
    html {
      font-size: 20%;
    }

  }

  @media (max-width: 290px) {
    html {
      font-size: 17%;
    }

  }

  @media (max-width: 250px) {
    html {
      font-size: 15%;
    }

  }

  @media (max-width: 200px) {
    html {
      font-size: 12%;
    }

  }

  @media (max-width: 150px) {
    html {
      font-size: 10%;
    }

  }

  @media (max-width: 110px) {
    html {
      font-size: 8%;
    }

  }

  @media (max-width: 80px) {
    html {
      font-size: 6%;
    }

  }

  @media (max-width: 60px) {
    html {
      font-size: 5%;
    }

  }

  @media (max-width: 55px) {
    html {
      font-size: 3%;
    }

  }